<ion-view title="Ajouter evenement " id="page17">
  <ion-content padding="true" class="has-header">
    <form id="ajouterEvenement-form17" class="list">
      <label class="item item-input" id="ajouterEvenement-input28">
        <span class="input-label">Nom*</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="ajouterEvenement-input32">
        <span class="input-label">Date de debuit</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="ajouterEvenement-input33">
        <span class="input-label">Date de fin</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="ajouterEvenement-input29">
        <span class="input-label">Adresse*</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="ajouterEvenement-input30">
        <span class="input-label">Telephone</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="ajouterEvenement-input31">
        <span class="input-label">photo</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="ajouterEvenement-textarea2">
        <span class="input-label">Description</span><textarea placeholder="Description"></textarea></label>
      <div id="ajouterEvenement-button-bar2" class="button-bar">
        <a ui-sref="tabsController.accueil()" id="ajouterEvenement-button19" class="button button-positive button-block">Annuller</a>
        <a ui-sref="tabsController.profil()" id="ajouterEvenement-button20" class="button button-positive button-block">confirmer et payer </a>
      </div>
    </form>
  </ion-content>
</ion-view>