<ion-view title="Connection" id="page14">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="connection-form12" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="connection-list11">
        <label class="item item-input" id="connection-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="connection-input2">
          <span class="input-label">Mot de Passe</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <h5 id="connection-heading7" style="color:#000000;text-align:right;">Mot de passe oublier ?</h5>
      <div class="spacer" style="height: 40px;"></div>
      <button id="connection-button10" class="button button-stable button-block">Se connecter </button>
      <h5 id="connection-heading8" style="color:#000000;">Vous n'aver pas encore de compte?</h5>
      <a ui-sref="inscription()" id="connection-button11" class="button button-positive button-block button-clear">S'inscrire</a>
    </form>
  </ion-content>
</ion-view>