<ion-view title="filter resultas" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="filterResultas-container18">
      <h4 id="filterResultas-heading3" style="color:#000000;">Gategorie</h4>
    </div>
    <form id="filterResultas-form10" class="list">
      <ion-checkbox id="filterResultas-checkbox1">Bar</ion-checkbox>
      <ion-checkbox id="filterResultas-checkbox2">PUB</ion-checkbox>
      <ion-checkbox id="filterResultas-checkbox3">Resto</ion-checkbox>
    </form>
    <form id="filterResultas-form11" class="list">
      <ion-item class="range range-positive" id="filterResultas-range1">Prix
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="range range-positive" id="filterResultas-range2">Distance
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-checkbox id="filterResultas-checkbox6">Noveautés</ion-checkbox>
    </form>
    <button id="filterResultas-button8" class="button button-positive button-block">Valider</button>
  </ion-content>
</ion-view>