<ion-view title="Inscription " id="page16">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="inscription-form14" class="list">
      <ion-radio id="inscription-radio1" name="type">je suis un particulier</ion-radio>
      <ion-radio id="inscription-radio2" name="type">je suis professionnel</ion-radio>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <form id="inscription-form13" class="list">
        <div id="inscription-container7">
          <ion-list id="inscription-list12">
            <ion-radio id="inscription-radio3" name="civilité">M.</ion-radio>
            <ion-radio id="inscription-radio5" name="civilité">Mme.</ion-radio>
            <label class="item item-input" id="inscription-input3">
              <span class="input-label">Nom*</span>
              <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input6">
              <span class="input-label">Prenom*</span>
              <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input7">
              <span class="input-label">Telephone*</span>
              <input type="tel" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input4">
              <span class="input-label">Email*</span>
              <input type="email" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input5">
              <span class="input-label">Mot de passe*</span>
              <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input8">
              <span class="input-label">Confirme Mot de passe*</span>
              <input type="text" placeholder="">
            </label>
          </ion-list>
          <div class="spacer" style="width: 300px; height: 22px;"></div>
        </div>
        <div id="inscription-container8">
          <ion-list id="inscription-list15">
            <label class="item item-input" id="inscription-input13">
              <span class="input-label">Nom d'entreprise*</span>
              <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input14">
              <span class="input-label">Numero de siret*</span>
              <input type="number" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input15">
              <span class="input-label">Adresse*</span>
              <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input19">
              <span class="input-label">code postal*</span>
              <input type="number" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input20">
              <span class="input-label">Ville*</span>
              <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input21">
              <span class="input-label">Pays*</span>
              <input type="text" placeholder="">
            </label>
            <label class="item item-select" id="inscription-select1" name="gategorie">
              <span class="input-label">Gategorie</span>
              <select>
                <option>Bar</option>
                <option>resto</option>
              </select>
            </label>
            <label class="item item-input" id="inscription-input22">
              <span class="input-label">Telephone</span>
              <input type="tel" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input16">
              <span class="input-label">Email*</span>
              <input type="email" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input17">
              <span class="input-label">Mot de passe*</span>
              <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="inscription-input18">
              <span class="input-label">Confirme Mot de passe*</span>
              <input type="text" placeholder="">
            </label>
          </ion-list>
        </div>
        <button id="inscription-button12" class="button button-stable button-block">C'est partie</button>
      </form>
    </form>
  </ion-content>
</ion-view>