<ion-view title="Parametres" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="parametres-list14">
      <ion-item class="item-icon-left" id="parametres-list-item22">
        <i class="icon ion-android-person"></i>Mes Information </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="parametres-toggle1">Notification push</ion-toggle>
      <ion-item id="parametres-list-item24">Condition generales d'utilisation</ion-item>
      <ion-item id="parametres-list-item25">boutique de confidentionaliter</ion-item>
      <ion-item id="parametres-list-item26">Mention legales</ion-item>
      <ion-item class="item-icon-left" id="parametres-list-item27">
        <i class="icon ion-android-exit"></i>Se Deconnecter</ion-item>
    </ion-list>
  </ion-content>
</ion-view>