<ion-view title="Recherche" id="page5">
  <ion-content padding="true" class="has-header">
    <h4 id="recherche-heading1" style="color:#000000;">Quel est le programme aujourd'hui ?</h4>
    <form id="recherche-form8" class="list">
      <label class="item item-input" id="recherche-search2" name="recherche">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Saisir un lieu, un etablissement...">
      </label>
    </form>
    <h5 id="recherche-heading2" style="color:#000000;text-align:center;">Envie d'un truc en particulier ?</h5>
    <div id="recherche-container4">
      <ion-list id="recherche-list4">
        <ion-item class="item-thumbnail-left" id="recherche-list-item11" ui-sref="tabsController.resultats()">
          <h2>J'ai les crocs</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recherche-list-item12" ui-sref="tabsController.resultats()">
          <h2>J'ai une petite soif</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recherche-list-item10" ui-sref="tabsController.resultats()">
          <h2>Je veux faire des rencontres</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recherche-list-item13" ui-sref="tabsController.resultats()">
          <h2>Je veux être surpris</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recherche-list-item14" ui-sref="tabsController.resultats()">
          <h2>Je veux faire du sport</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recherche-list-item15" ui-sref="tabsController.resultats()">
          <h2>Je veux me cultiver</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recherche-list-item16" ui-sref="tabsController.resultats()">
          <h2>Je ne veux pas manquer ces offres</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recherche-list-item17" ui-sref="tabsController.resultats()">
          <h2>Je veux découvrir des lieux insolites</h2>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>