<ion-content class="card-background-page">

<div>

  <div class="reglages"  >
    <ion-button  class="btnstyle" routerDirection="forward" routerLink="/pages/parametres">
      <ion-icon name="cog" class="iconstyle"></ion-icon>
    </ion-button>
  </div>

  <div class="titre">
      <h1 style="font-weight: 450;">Mes Publications</h1>
  </div>
  <div class="help">
    <ion-button  class="btnstyle" routerDirection="forward" routerLink="/tabs/aide">
      <ion-icon name="ios-help-buoy" class="iconstyle"></ion-icon>
    </ion-button>
  </div>
</div>
<!-- <div class="filtre">
    <img src="assets/img/filter.svg"></div>
 -->


<ion-grid padding>
    <ion-row *ngFor="let item of tableauCategories | keyvalue" size="" routerDirection="root"
    routerLink="/liste-lieu/{{ item.key }}">
        <ion-col >
            <div >
                <ion-img class="imageCategorie2"
                         src="assets/img/categorie/{{tableauCategories[item.key].idCat}}.jpg"></ion-img>
                <h2 class="titreCategorie">{{ tableauCategories[item.key].nomCat }}</h2>
                <ion-icon name="ios-trash" class="corbeille1"></ion-icon>
                <ion-icon name="ios-create" class="write1"></ion-icon>
            </div>
        </ion-col>
    </ion-row>

        <div class="titre">
            <h1 style="font-weight: 450;">Mes Publications</h1>
        </div>
        <div class="help">
            <ion-button class="btnstyle" routerDirection="forward" routerLink="/tabs/aide">
                <ion-icon class="iconstyle" name="ios-help-buoy"></ion-icon>
            </ion-button>
        </div>
    </div>
    <!-- <div class="filtre">
        <img src="assets/img/filter.svg"></div>
     -->

    <ion-grid padding>
        <ion-row *ngFor="let item of tableauLieuInsolite | keyvalue" routerDirection="root" routerLink="/info-lieu/{{ item.key }}"
                 size="">
            <ion-col>
                <div>
                    <ion-img class="imageCategorie2"
                             src="assets/img/bar.jpg"></ion-img>
                    <h2 class="titreCategorie">{{ tableauLieuInsolite[item.key].nomCat }}</h2>
                    <ion-icon class="corbeille1" name="ios-trash"></ion-icon>
                    <ion-icon class="write1" name="ios-create"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button (click)="logout()">Logout</ion-button>

</ion-content>
