<ion-header>
  <ion-toolbar>
    <ion-title>liste de lieu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >

  <ion-button expand="block" routerLink="/tabs/home" routerDirection="root">
    accueil (temporaire) {{ myId }}
  </ion-button>

  <ion-grid>
  <ion-row>
      <ng-container *ngIf="myId==4">
        <ion-card *ngFor="let item of tableauEtablissement | keyvalue" routerLink="/info-etablissement/{{tableauEtablissement[item.key].idEtab}}"  routerDirection="root">
          <ion-card-header *ngIf="tableauEtablissement[item.key].sousCatEtab == 1  || tableauEtablissement[item.key].sousCatEtab == 2">
            <ion-card-title>  {{ tableauEtablissement[item.key].nomEtab }} </ion-card-title>
            <ion-card-title>  {{ tableauEtablissement[item.key].sousCatEtab }} </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-container>

      <ng-container *ngIf="myId==2">
        <ion-card *ngFor="let item of tableauLieuInsolite | keyvalue" routerLink="/info-lieu/{{tableauLieuInsolite[item.key].idLieu}}"  routerDirection="root">
          <ion-card-header>
            <ion-card-title>  {{ tableauLieuInsolite[item.key].nomLieu }} </ion-card-title>
            <ion-card-title>  {{ tableauEtablissement[item.key].sousCatEtab }} </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-container>

      <ng-container *ngIf="myId==3">
        <ion-card *ngFor="let item of tableauEtablissement | keyvalue" routerLink="/info-etablissement/{{tableauEtablissement[item.key].idEtab}}"  routerDirection="root">
          <ion-card-header *ngIf="tableauEtablissement[item.key].sousCatEtab == 3  || tableauEtablissement[item.key].sousCatEtab == 4 || tableauEtablissement[item.key].sousCatEtab == 1 ">
            <ion-card-title>  {{ tableauEtablissement[item.key].nomEtab }} </ion-card-title>
            <ion-card-title>  {{ tableauEtablissement[item.key].sousCatEtab }} </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-container>

      <ng-container *ngIf="myId==5">
        <ion-card *ngFor="let item of tableauEtablissement | keyvalue" routerLink="/info-etablissement/{{tableauEtablissement[item.key].idEtab}}"  routerDirection="root">
          <ion-card-header *ngIf="tableauEtablissement[item.key].sousCatEtab == 5 ">
            <ion-card-title>  {{ tableauEtablissement[item.key].nomEtab }} </ion-card-title>
            <ion-card-title>  {{ tableauEtablissement[item.key].sousCatEtab }} </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-container>

      <ng-container *ngIf="myId==6">
        <ion-card *ngFor="let item of tableauEtablissement | keyvalue" routerLink="/info-etablissement/{{tableauEtablissement[item.key].idEtab}}"  routerDirection="root">
          <ion-card-header>
            <ion-card-title>  {{ tableauEtablissement[item.key].nomEtab }} </ion-card-title>
            <ion-card-title>  {{ tableauEtablissement[item.key].sousCatEtab }} </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-container>

        <ng-container *ngIf="myId==7">
        <ion-card *ngFor="let item of tableauEtablissement | keyvalue" routerLink="/info-etablissement/{{tableauEtablissement[item.key].idEtab}}"  routerDirection="root">
          <ion-card-header *ngIf="tableauEtablissement[item.key].sousCatEtab == 6 ">
            <ion-card-title>  {{ tableauEtablissement[item.key].nomEtab }} </ion-card-title>
            <ion-card-title>  {{ tableauEtablissement[item.key].sousCatEtab }} </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-container>
  </ion-row>
  </ion-grid>
</ion-content>
