<ion-view title="Accueil" id="page15">
  <ion-content padding="true" class="has-header">
    <h4 id="accueil-heading4" style="color:#000000;">Quel est le programme aujourd'hui ?</h4>
    <form id="accueil-form9" class="list">
      <label class="item item-input" id="accueil-search3" name="recherche">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Saisir un lieu, un etablissement...">
      </label>
    </form>
    <h5 id="accueil-heading5" style="color:#000000;">Nouveautés</h5>
    <ion-list id="accueil-list7">
      <ion-item class="item-thumbnail-left item-icon-right" id="accueil-list-item21" ui-sref="tabsController.resultats()">
        <h2>Description</h2>
        <i class="icon ion-heart"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="accueil-list-item29" ui-sref="tabsController.resultats()">
        <h2>Description</h2>
        <i class="icon ion-heart"></i>
      </ion-item>
    </ion-list>
    <h5 id="accueil-heading6" style="color:#000000;">En se moment </h5>
    <ion-list id="accueil-list10">
      <ion-item class="item-thumbnail-left item-icon-right" id="accueil-list-item30" ui-sref="tabsController.resultats()">
        <h2>Description</h2>
        <i class="icon ion-heart"></i>
      </ion-item>
    </ion-list>
    <div id="accueil-container6">
      <ion-list id="accueil-list9">
        <ion-item class="item-thumbnail-left item-icon-right" id="accueil-list-item31" ui-sref="tabsController.resultats()">
          <h2>Description</h2>
          <i class="icon ion-heart"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>