<ion-view title="Ajouter lieu insolite" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="ajouterLieuInsolite-form16" class="list">
      <label class="item item-input" id="ajouterLieuInsolite-input23">
        <span class="input-label">Nom*</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="ajouterLieuInsolite-select2" name="sous categorie">
        <span class="input-label">Gategorie</span>
        <select>
          <option>bar</option>
          <option>resto</option>
        </select>
      </label>
      <label class="item item-input" id="ajouterLieuInsolite-input24">
        <span class="input-label">Adresse*</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="ajouterLieuInsolite-input25">
        <span class="input-label">Telephone</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="ajouterLieuInsolite-input27">
        <span class="input-label">photo</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="ajouterLieuInsolite-textarea1">
        <span class="input-label">Description</span><textarea placeholder="Description"></textarea></label>
      <div id="ajouterLieuInsolite-button-bar1" class="button-bar">
        <a ui-sref="tabsController.accueil()" id="ajouterLieuInsolite-button16" class="button button-positive button-block">Annuller</a>
        <a ui-sref="parametres()" id="ajouterLieuInsolite-button18" class="button button-positive button-block">Sauvegarder </a>
      </div>
    </form>
  </ion-content>
</ion-view>