<ion-view title="Description" id="page13">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <ion-list id="description-list13">
      <div class="item item-body" id="description-list-item-container4">
        <div id="description-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nom</p>
        </div>
        <div id="description-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nom</p>
        </div>
      </div>
      <div class="item item-body" id="description-list-item-container5">
        <div id="description-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Description </p>
        </div>
        <div id="description-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nom</p>
        </div>
      </div>
      <div class="item item-body" id="description-list-item-container6">
        <div id="description-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adresse</p>
        </div>
        <div id="description-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nom</p>
        </div>
      </div>
      <div class="item item-body" id="description-list-item-container7">
        <div id="description-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">site internet</p>
        </div>
        <div id="description-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nom</p>
        </div>
      </div>
    </ion-list>
    <button id="description-button9" class="button button-positive button-block icon ion-location"></button>
  </ion-content>
</ion-view>