<ion-view title="Favorie" id="page11">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.filterResultas()" id="favorie-button7" class="button button-stable button-block icon ion-funnel"></a>
    <div id="favorie-container5">
      <ion-list id="favorie-list5">
        <ion-item class="item-thumbnail-left item-icon-right" id="favorie-list-item18" ui-sref="tabsController.description()">
          <h2>Description</h2>
          <i class="icon ion-heart"></i>
        </ion-item>
        <ion-item class="item-thumbnail-left item-icon-right" id="favorie-list-item19" ui-sref="tabsController.description()">
          <h2>Description</h2>
          <i class="icon ion-heart"></i>
        </ion-item>
        <ion-item class="item-thumbnail-left item-icon-right" id="favorie-list-item20" ui-sref="tabsController.description()">
          <h2>Description</h2>
          <i class="icon ion-heart"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>