<ion-view title="Mes Informations" id="page4">
  <ion-content padding="true" class="has-header">
    <p>
      Nom
    </p>
    <form id="mesInformations-form10" class="list">
      <label class="item item-input" id="mesInformations-input19">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <p>
        Prénom
      </p>
      <label class="item item-input" id="mesInformations-input18">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <p>
      Mot de passe
    </p>
    <form id="mesInformations-form11" class="list">
      <label class="item item-input" id="mesInformations-input16">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <p>
        Nom de l'entreprise
      </p>
      <label class="item item-input" id="mesInformations-input15">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <p>
      N° SIRET
    </p>
    <form id="mesInformations-form4" class="list">
      <label class="item item-input" id="mesInformations-input5">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <p>
      Téléphone
    </p>
    <form id="mesInformations-form5" class="list">
      <label class="item item-input" id="mesInformations-input6">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <p>
      Adresse
    </p>
    <form id="mesInformations-form6" class="list">
      <label class="item item-input" id="mesInformations-input7">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <p>
      Code postal
    </p>
    <form id="mesInformations-form7" class="list">
      <label class="item item-input" id="mesInformations-input9">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <p>
      Ville
    </p>
    <form id="mesInformations-form8" class="list">
      <label class="item item-input" id="mesInformations-input10">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <p>
      Pays
    </p>
    <form id="mesInformations-form9" class="list">
      <label class="item item-input" id="mesInformations-input11">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <p>
        Catégorie
      </p>
      <label class="item item-select" id="mesInformations-select3">
        <span class="input-label">Select</span>
        <select></select>
      </label>
      <button id="mesInformations-button21" style="font-size:12px;" class="button button-positive button-small button-block">Sauvegarder</button>
    </form>
  </ion-content>
</ion-view>