<ion-view title="Mes Publications" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="mesPublications-list4">
      <ion-item class="item-thumbnail-left item-icon-right" id="mesPublications-list-item13">
        <h2>Nom</h2>
        <p>Description</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="mesPublications-list-item14">
        <h2>Nom</h2>
        <p>Description</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="mesPublications-list-item15">
        <h2>Nom</h2>
        <p>Description</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="mesPublications-list-item16">
        <h2>Item</h2>
        <p>Description</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>