<ion-view title="Resultats" id="page10">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.filterResultas()" id="resultats-button6" class="button button-stable button-block icon ion-funnel"></a>
    <div id="resultats-container13">
      <ion-list id="resultats-list2">
        <ion-item class="item-thumbnail-left item-icon-right" id="resultats-list-item9" ui-sref="tabsController.description()">
          <h2>Description</h2>
          <i class="icon ion-heart"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>