<ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-input type="file" accept="image/*"></ion-input>
</ion-list>

<ion-list>
  <ion-radio-group>
    <ion-item>
      <ion-label>Professionnel</ion-label>
      <ion-radio slot="start" value="Mme" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Particulier</ion-label>
      <ion-radio slot="start" value="M."></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Civilité</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Homme</ion-label>
      <ion-radio slot="start" value="Homme" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Femme</ion-label>
      <ion-radio slot="start" value="Femme"></ion-radio>
    </ion-item>

   
  </ion-radio-group>
</ion-list>
<ion-input placeholder="Nom*"></ion-input>
<ion-input placeholder="Prénom*"></ion-input>
<ion-input placeholder="Téléphone*"></ion-input>
<ion-input placeholder="Adresse Email*"></ion-input>
<ion-input placeholder="Mot de passe*"></ion-input>
<ion-input placeholder="Confirmer mot de passe*"></ion-input>
<ion-button>C'est parti !</ion-button>
