<ion-content padding>
  
    
    <div class="login-block">
        <ion-radio-group [(ngModel)]="civilite">
                <ion-label class="civilite"style="margin-left:20px;">Mr.</ion-label>
                <ion-radio slot="start" value="mr" checked></ion-radio>
                <ion-label class="civilite" style="margin-left:10px;"> </ion-label>
                <ion-label class="civilite">Mme.</ion-label>
                <ion-radio slot="start" value="mme"></ion-radio>
            </ion-radio-group>
            

        <!-- Nom -->
        <h1>Nom</h1>
        <ion-item class="form">
            <ion-input class="champsP" type="nom" [(ngModel)]="nomInput" required="required"></ion-input>
        </ion-item>

        <!-- Prénom -->
        <h1>Prénom</h1>
        <ion-item class="form">
            <ion-input class="champsP" type="prenom" [(ngModel)]="prenomInput" required="required"></ion-input>
        </ion-item>

        <!-- Téléphone -->
        <h1>Téléphone</h1>
        <ion-item class="form">
            <ion-input class="champsP" type="tel" [(ngModel)]="telInput" required="required"></ion-input>
        </ion-item>

         <!-- Adresse Email -->
        <h1>Téléphone</h1>
        <ion-item class="form">
            <ion-input class="champsP" type="email" [(ngModel)]="emailInput" required="required"></ion-input>
        </ion-item>

         <!-- Mot de passe-->
         <h1>Mot de passe</h1>
         <ion-item class="form">
             <ion-input class="champsP" type="mdp" [(ngModel)]="mdpInput" required="required"></ion-input>
         </ion-item>
           <!-- Confirmer Mot de passe-->
           <h1>Confirmer Mot de passe</h1>
           <ion-item class="form">
               <ion-input class="champsP" type="Cmdp" [(ngModel)]="CmdpInput" required="required"></ion-input>
           </ion-item>

        <!-- Mot de passe oublié

        <div>
            <p class="fgt-password" href="">Mot de passe oublié ?</p>
        </div>
        -->
    </div>
    <!-- Bouton "Se connecter"-->
    <div class="sign-in">

        <ion-button class="se-connecter" (click)="connexion()" fill="clear" mode="ios">C'est parti !</ion-button>

    </div>
</ion-content>
