ion-content{
  ion-list-header{
    color: white;
  }
  ion-label{
    color: white;
  }
  ion-input{
    border: none;
    border: solid 1px #D5D5D5;
    border-radius: 8px;
    background: #fff;
  }
}