<ion-content>

    <ion-input type="file" accept="image/*"></ion-input>
    <ion-radio-group>
        <ion-label>Professionnel</ion-label>
        <ion-radio slot="start" value="Professionnel" checked></ion-radio>

        <ion-label>Particulier</ion-label>
        <ion-radio slot="start" value="Particulier"></ion-radio>
    </ion-radio-group>

    <ion-radio-group>
        <ion-list-header>Civilité</ion-list-header>

        <ion-label>Homme</ion-label>
        <ion-radio slot="start" value="Homme" checked></ion-radio>

        <ion-label>Femme</ion-label>
        <ion-radio slot="start" value="Femme"></ion-radio>
    </ion-radio-group>
    <ion-item class="form">
        <h1>Nom*</h1>
    <ion-input></ion-input>
    </ion-item>
    <ion-item class="form">
        <h1>Prénom*</h1>

        <ion-input></ion-input>
    </ion-item>
    <ion-item class="form">
        <h1>Téléphone*</h1>
        <ion-input></ion-input>
    </ion-item>
    <ion-item class="form">
        <h1>Adresse Email*</h1>
    <ion-input></ion-input>
    </ion-item>
    <ion-item class="form">
        <h1>Mot de passe*</h1>
        <ion-input></ion-input>
    </ion-item>
    <ion-item class="form">
        <h1>Confirmer mot de passe*</h1>
        <ion-input></ion-input>
    </ion-item>
    <ion-button class="se-connecter">C'est parti !</ion-button>
</ion-content>