<ion-header>
</ion-header>

<ion-content>

    <div>
        <h1 class="label">Un lieu insolite à faire découvrir ?</h1>
    </div>

    <ion-button class="add-btn" fill="clear">
        <ion-icon class="add-icon" src="assets/icon/plus.svg"></ion-icon>
    </ion-button>

    <ion-img class="add-img" src="assets/img/no_thumbnail.jpg"></ion-img>

    <div class="form">
        <h1>Nom</h1>
                <ion-input [(ngModel)]="nomInput" class="nom" type="text" required="required"></ion-input>

      <!--  <h1>Catégorie</h1>
                <ion-select [(ngModel)]="categorieInput" class="form-category" placeholder="Choisissez une catégorie">
                    <ion-select-option value="restaurant">Restaurant</ion-select-option>
                    <ion-select-option value="bar">Bar</ion-select-option>
                    <ion-select-option value="pub">Pub</ion-select-option>
                    <ion-select-option value="cinema">Cinéma</ion-select-option>
                    <ion-select-option value="place">Place</ion-select-option>
                </ion-select> -->

        <h1>Adresse</h1>
                <ion-input [(ngModel)]="adresseInput" class="address" type="text"></ion-input>

        <ion-row>
            <ion-col size="5">
                <h1>Code Postal</h1>
                        <ion-input [(ngModel)]="codepostalInput" class="zip-code" type="number" required="required"></ion-input>
            </ion-col>

            <ion-col size="1"></ion-col>

        <ion-col size="6">

            <h1>Ville</h1>
                <ion-input [(ngModel)]="villeInput" class="city" type="text" required="required"></ion-input>

        </ion-col>

        </ion-row>
      <!--   <h1>Pays</h1>
            <ion-input [(ngModel)]="paysInput" class="country" type="text" required="required"></ion-input> -->

        <h1>Téléphone</h1>
            <ion-input [(ngModel)]="telephoneInput" class="tel" type="text"></ion-input>

        <h1>Description</h1>
            <ion-input [(ngModel)]="descriptionInput" class="desc" type="text" required="required"></ion-input>
    </div>

    <div class="boutons">
        <ion-row>
            <div class="btn-annuler">
                <ion-button class="annuler" fill="clear" mode="ios" routerLink="/tabs/home" routerDirection="root">Annuler</ion-button>
            </div>

            <div class="btn-sauvegarder">
                <ion-button class="sauvegarder" fill="solid" mode="ios" routerLink="/tabs/home" routerDirection="root" (click)="ajoutLieu()">Sauvegarder</ion-button>
            </div>
        </ion-row>
    </div>

</ion-content>
