
.card-background-page {

  ion-card {
    position: relative;
    display: block;
    text-align: center;
    width: 40%;
    margin-top: 30px;
  }

  .card-title {
    position: absolute;
    top: 50%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: left;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top:80%;
    width: 100%;
    color: #fff;
    text-align: left;
    
  }
.test{

  position: absolute;
    top: 0%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: right;
}

.filtre{

  position: absolute;
    
}
  ion-text{
 text-align: center;
 color: #fff;


  }

.corbeille1{

   position: absolute;
    top: 20%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: right;
     margin-left: -40px;

}

.corbeille2{

   position: absolute;
    top: 45%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: right;
     margin-left: -40px;

}

.corbeille3{

  position: absolute;
    top: 70%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
   text-align: right;
   margin-left: -40px;

}

.corbeille4{

   position: absolute;
    top: 95%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: right;
      margin-left: -40px;
}




.write1{

   position: absolute;
    top: 20%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: right;
     margin-left: -70px;

}

.write2{

   position: absolute;
    top: 45%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: right;
     margin-left: -70px;

}

.write3{

  position: absolute;
    top: 70%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
   text-align: right;
   margin-left: -70px;

}

.write4{

   position: absolute;
    top: 95%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: right;
      margin-left: -70px;
}

.reglages{

  position: absolute;
    top: 0%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: right;
    margin-top: 20px;
    margin-left: -20px;
}

.help{

  position: absolute;
    top: 0%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}


  }




