<ion-header>
  <ion-toolbar>
    <ion-title>PROFIL</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content class="card-background-page">
    
    <ion-text>
  <h2>MON PROFIL</h2>
</ion-text>
<div class="reglages">
    <ion-icon name="cog"></ion-icon>
  </div>
  <div class="help">
    <ion-icon name="ios-help-buoy"></ion-icon>
  </div>
<!-- <div class="filtre">
    <img src="assets/img/filter.svg"></div>
 -->
  <ion-card>
    <img src="assets/img/italien.jpg">
    <div class="card-title">TEST</div>
    <div class="card-subtitle">TEST</div> 
  </ion-card>

  <ion-card>
    <img src="assets/img/resto.jpg">
    <div class="card-title">TEST</div>
    <div class="card-subtitle">TEST</div> 
 
  </ion-card>
<ion-card>
    <img src="assets/img/neonbar.jpg">
    <div class="card-title">TEST </div>
    <div class="card-subtitle">TEST</div> 
    
  </ion-card>
  <ion-card>
    <img src="assets/img/italien.jpg">
     <div class="card-title">TEST</div>
    <div class="card-subtitle">TEST</div> 
   
  </ion-card>


<div class="corbeille1">
    <ion-icon name="ios-trash"></ion-icon>
  </div>
  <div class="corbeille2">
    <ion-icon name="ios-trash"></ion-icon>
  </div>
<div class="corbeille3">
    <ion-icon name="ios-trash"></ion-icon>
  </div>
<div class="corbeille4">
    <ion-icon name="ios-trash"></ion-icon>
  </div>


<div class="write1">
<ion-icon name="ios-create"></ion-icon></div>

<div class="write2">
<ion-icon name="ios-create"></ion-icon></div>

<div class="write3">
<ion-icon name="ios-create"></ion-icon></div>

<div class="write4">
<ion-icon name="ios-create"></ion-icon></div>
  
  
</ion-content>

