<ion-header>

</ion-header>
<ion-content padding>
    <ion-img class="logo" src="assets/img/logo.png" alt="logo quide"></ion-img>
    <div *ngIf="msg" class="ion-text-center">
        <h1>{{ msg }}</h1>
    </div>
    <div class="login-block">
        <!-- Adresse e-mail -->
        <h1>Adresse e-mail</h1>

            <ion-input class="email" type="email" [(ngModel)]="userData.email" required="required"></ion-input>

        <!-- Mot de passe -->
        <h1>Mot de passe</h1>
            <ion-input class="password" type="password" [(ngModel)]="userData.pwd" required="required"></ion-input>

        <!-- Mot de passe oublié

        <div>
            <p class="fgt-password" href="">Mot de passe oublié ?</p>
        </div>
        -->
    </div>
    <!-- Bouton "Se connecter"-->
    <div class="sign-in">

        <ion-button class="se-connecter" (click)="connexion()" fill="clear" mode="ios">Se connecter</ion-button>

    </div>

    <!-- S'inscrire-->
    <div>
        <p class="sign-up">Vous n'avez pas encore de compte ?</p>
        <ion-button class="inscription" fill="solid" mode="ios" routerDirection="root"
                    routerLink="/inscription">S'inscrire</ion-button>
    </div>

</ion-content>
