<ion-header>
  <ion-toolbar>
    <ion-title>connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-img class="logo" src="assets/img/logo.png"></ion-img>

<h1>Adresse e-mail</h1>
    <ion-item class="email">
        <ion-input type="email" [(ngModel)]="email" required="required"></ion-input>
      </ion-item>

<h1>Mot de passe</h1>
      <ion-item class="password">
          <ion-input type="password" [(ngModel)]="password" required="required"></ion-input>
        </ion-item>

</ion-content>
