<ion-header>
  <ion-toolbar>
    <ion-title>categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >

  <ion-button expand="block" routerLink="/tabs/home" routerDirection="root">
    accueil (temporaire) {{ myId }}
  </ion-button>

  <ion-grid>
  <ion-row>

        <ion-card *ngFor="let item of tableauEtablissement | keyvalue" routerLink="/info-etablissement/{{tableauEtablissement[item.key].idEtab}}"  routerDirection="root">

          <ion-card-header *ngIf="myId==4 && (tableauEtablissement[item.key].sousCatEtab == 1  || tableauEtablissement[item.key].sousCatEtab == 2 ) ">


            <ion-card-title>  {{ tableauEtablissement[item.key].nomEtab }} </ion-card-title>

          </ion-card-header>
        </ion-card>

        <ion-card *ngFor="let item of tableauLieuInsolite | keyvalue" routerLink="/info-lieu/{{tableauLieuInsolite[item.key].idLieu}}"  routerDirection="root">

          <ion-card-header *ngIf="myId == 2 ">


            <ion-card-title>  {{ tableauLieuInsolite[item.key].nomLieu }} </ion-card-title>

          </ion-card-header>
        </ion-card>

  </ion-row>

  </ion-grid>
</ion-content>
