<ion-header>
  <ion-toolbar>
    <ion-title>categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >

  <ion-button expand="block" routerLink="/tabs/home" routerDirection="root">
    accueil (temporaire)
  </ion-button>

  <ion-grid>
  <ion-row>

        <ion-card *ngFor="let item of tableauEtablissement | keyvalue" >

          <ion-card-header *ngIf="myId == tableauEtablissement[item.key].sousCatEtab ">


            <ion-card-title>  {{ tableauEtablissement[item.key].nomEtab }} </ion-card-title>
            <ion-card-title> My ID is: {{ myId }} </ion-card-title>

          </ion-card-header>
        </ion-card>

  </ion-row>

  </ion-grid>
</ion-content>
