

.img-block {
    width: 100%;
    height: 200px;
}

.fiche-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.fav {
    padding-top: 12px;
}

.star, .heart, .pin, .phone, .time, .web, .euro {
    width: 23px;
    height: 23px;
    color: #fff;
    padding-right: 5px;
}

.stars {
    padding-left: 20px;
    margin: 0;
    margin-top: -30px;
}

.budget {
    margin: 0;
}

h1 {
    padding-left: 20px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.previous-page {
    padding-left: 20px;
    margin-top: -150px;
}

.title {
    margin-top: -22px;
}

.desc-text {
    font-weight: lighter;
    opacity: 0.7;
    margin: 0;
    font-size: 14px;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.address {
    padding-left: 10px;
    padding-top: 6px;
    font-size: 14px;
    color: #ffdd21;
    font-weight: 500;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.phone-number, .schedule, .euro-amount {
    padding-left: 10px;
    margin-top: 5px;
    opacity: 0.7;

}

.website {
    padding-left: 10px;
    margin-top: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #ffdd21;
    font-weight: 300;
}
