<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let item of tableauCategories | keyvalue" size="6" routerDirection="root"
                     routerLink="/liste-lieu/{{ item.key }}">
                <div class="id1">
                    <ion-img class="imageCategorie2"
                             src="assets/img/categorie/{{tableauCategories[item.key].idCat}}.jpg"></ion-img>
                    <h2 class="titreCategorie">{{ tableauCategories[item.key].nomCat }}</h2>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
