<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
        <ion-row>
          <ion-col>
          <div class="espace"></div>
          </ion-col>
        </ion-row>
      

  <!--LIGNE 1-->
  <ion-row>
    <ion-col col-6>
    
        <div >
           
            <img src="assets/img/incontournables.jpg" class="imageCategorie"  />
            <h2 class="titreCategorie">LES INCONTOURNABLES</h2>
          </div>
     
    </ion-col>

    <ion-col col-6>
    
        <div >
            <img src="assets/img/decouverte.jpg" class="imageCategorie" />
            <h2 class="titreCategorie">JE DÉCOUVRE DE NOUVEAUX ENDROITS</h2>

          </div>
     
    </ion-col>
    
  </ion-row>

<!--LIGNE 2-->
  <ion-row>
      <ion-col col-6>
      
          <div >
             
              <img src="assets/img/crocs_image.jpg" class="imageCategorie"  />
              <h2 class="titreCategorie">J'AI LES CROCS</h2>
            </div>
       
      </ion-col>
  
      <ion-col col-6>
      
          <div class="cadreCategorie">
              <img src="assets/img/beer.jpg" class="imageCategorie" />
              <h2 class="titreCategorie">JE PRENDS UN VERRE</h2>
  
            </div>
       
      </ion-col>
      
    </ion-row>

  <!--LIGNE 3-->
  <ion-row>
      <ion-col col-6>
      
          <div class="cadreCategorie">
             
              <img src="assets/img/nightclub.jpg" class="imageCategorie"  />
              <h2 class="titreCategorie">JE VEUX M'ECLATER</h2>
            </div>
       
      </ion-col>
  
      <ion-col col-6>
      
          <div class="cadreCategorie">
              <img src="assets/img/entre_amis.jpg" class="imageCategorie" />
              <h2 class="titreCategorie">JE SORS ENTRE AMIS</h2>
  
            </div>
       
      </ion-col>
      
    </ion-row>

      <!--LIGNE 4-->
  <ion-row>
      <ion-col col-6>
      
          <div class="cadreCategorie">
             
              <img src="assets/img/surprise.jpg" class="imageCategorie"  />
              <h2 class="titreCategorie">JE ME CULTIVE</h2>
            </div>
       
      </ion-col>
  
      <ion-col col-6>
      
          <div class="cadreCategorie">
              <img src="assets/img/galeries.jpg" class="imageCategorie" />
              <h2 class="titreCategorie">SURPRENDS MOI</h2>
  
            </div>
       
      </ion-col>
      
    </ion-row>

  
  


  </ion-grid>

  
</ion-content>
  
