  ion-card {
    width: 45%; 
    min-height: 100px;
    margin-left: 2.5%;
    background-image: url("/assets/img/party.jpg");
    background-size: cover;
  }

  ion-card-title {
    color:white;
    font-size: 100%;
    text-align: center;
  }
