// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


ion-app, ion-header, ion-content {
    --background: linear-gradient(#030D17, #03274f);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

ion-tab-bar, ion-tab-button{
    --background: #051B31;
    color: #ffffff;
}
.tab-selected{
    color: white!important;
}

h1 {
    color: #fff;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;
}

p {
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

a:any-link {
    color: #ffdd21;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.form-email {
    --background: #061221;
}

.form-mdp {
    --background: #071526;
}
