<ion-header>
</ion-header>

<ion-content>
	<div class="reglages">
	 <ion-icon name="ios-arrow-back"></ion-icon>
	</div>
<div class="titre">
    <ion-text>
        <h2>Mes informations</h2>
    </ion-text>
</div>
    <ion-button class="add-btn" fill="clear">
        <ion-icon class="add-icon" src="assets/icon/plus.svg"></ion-icon>
    </ion-button>
   
<ion-avatar class="centre">
    <img  src="assets/img/homealone.jpg">
</ion-avatar>
<div class="left">
<ion-text class="left1">Nom</ion-text>
    <ion-text>
        <div class="left2">Doe</div>
    </ion-text>
    <ion-text>
        <div class="left3">Prénom</div>
    </ion-text>
    <ion-text>
        <div class="left4">Jane</div>
    </ion-text>
    <ion-text>
        <div class="left5">Téléphone</div>
    </ion-text>
    <ion-text>
        <div class="left6">0780133192</div>
    </ion-text>
     <ion-text>
        <div class="left7">Adresse e-mail</div>
    </ion-text>
     <ion-text>
        <div class="left8">janedoe@gmail.com</div>
    </ion-text>
     <ion-text>
        <div class="left9">Mot de passe</div>
    </ion-text>
     <ion-text>
       <div class="left10">*****</div>
    </ion-text>
</div>
    <div class="boutons">
        <ion-row>
            <div class="btn-annuler">
                <ion-button class="annuler" fill="clear" mode="ios" href="">Modifier</ion-button>
            </div>

           
        </ion-row>
    </div>

</ion-content>
